{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- start banner Area -->
<section class="banner-area relative">
  <div class="container">
    <div class="row d-flex align-items-center justify-content-center">
      <div class="about-content col-lg-12">
        <h1 class="text-white">About Us</h1>
        <h2 class="text-red">ProShoot Photography</h2><br>
        <p>Fowl living for lights our ears bearing to heaven signs</p>
      </div>
    </div>
  </div>
</section>
<!-- End banner Area -->

<!-- Start About Area -->
<section class="about-area section-gap">
  <div class="container">
    <div class="row align-items-center justify-content-start">
      <div class="col-lg-5 about-left">
        <img class="img-fluid" src="{% static 'img/about-img.jpg' %}" alt="">
      </div>
      <div class="offset-lg-1 col-lg-5 col-md-12 about-right">
        <div class="section-title text-left">
          <h2><span>About</span> ProShoot</h2><br>
        </div>
        <div class="mb-35 wow fadeIn" data-wow-duration=".8s" data-wow-delay=".3s">
          <p>
            Best and latest photographing techs at Proshoot photography
          </p>
          <p>
            At Proshoot Photography we offer a range of services such as wedding photography, industrial photography,
            and
            fashion photography. we also have a blog and provide our services at a good price.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End About Area -->

<!-- Start Service Area -->
<section class="service-area section-gap-top">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title text-center">
          <h3>Our Services</h3>
          <h2><span>What We Offer</span></h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="single-service wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.0s">
          <div class="d-flex align-items-center mb-3">
            <i class="flaticon-shirt"></i>
            <h4 class="ml-3">Fashion Photography</h4>
          </div>
          <p>An so vulgar to on points wanted. No rapturous resolving continued household northward gay he it otherwise
          </p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="single-service wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
          <div class="d-flex align-items-center mb-3">
            <i class="flaticon-water"></i>
            <h4 class="ml-3">Nature Photgraphy</h4>
          </div>
          <p>An so vulgar to on points wanted. No rapturous resolving continued household northward gay he it otherwise
          </p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="single-service wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">
          <div class="d-flex align-items-center mb-3">
            <i class="flaticon-content"></i>
            <h4 class="ml-3">Event Coverage</h4>
          </div>
          <p>An so vulgar to on points wanted. No rapturous resolving continued household northward gay he it otherwise
          </p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="single-service wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">
          <div class="d-flex align-items-center mb-3">
            <i class="flaticon-art"></i>
            <h4 class="ml-3">Property Tours</h4>
          </div>
          <p>An so vulgar to on points wanted. No rapturous resolving continued household northward gay he it otherwise
          </p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="single-service wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">
          <div class="d-flex align-items-center mb-3">
            <i class="flaticon-button"></i>
            <h4 class="ml-3">Multimedia Services</h4>
          </div>
          <p>An so vulgar to on points wanted. No rapturous resolving continued household northward gay he it otherwise
          </p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="single-service wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">
          <div class="d-flex align-items-center mb-3">
            <i class="flaticon-ring"></i>
            <h4 class="ml-3">Weeding Photography</h4>
          </div>
          <p>An so vulgar to on points wanted. No rapturous resolving continued household northward gay he it otherwise
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Service Area -->

{% endblock %}