{% extends 'base.html' %}
{% load static %}
{% load main_tags %}
{% block content %}

<!-- start banner Area -->
<section class="home-banner-area">
    <div class="container-fluid">
        <div class="row fullscreen d-flex align-items-center">
            <div class="banner-content col-lg-4 col-md-8 justify-content-center ">
                <h1 class="wow fadeIn" data-wow-duration="1s" data-wow-delay=".6s">Im<span>a</span>ges <br />
                    mat<span>t</span>er</h1>
                <div class="designation mb-25 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">
                    <p>Best and latest photographing techs at Proshoot photography</p>
                </div>
                <a href="#" class="primary-btn" data-text="Explore More">
                    <span>E</span>
                    <span>x</span>
                    <span>p</span>
                    <span>l</span>
                    <span>o</span>
                    <span>r</span>
                    <span>e</span>
                    <span> </span>
                    <span>M</span>
                    <span>o</span>
                    <span>r</span>
                    <span>e</span>
                </a>
            </div>
            <div class="banner-img offset-lg-1 col-lg-7 col-md-6">
                <img class="img-fluid" src="{% static 'img/banner-img.png' %}" alt="">
            </div>
            <div class="social-icons">
                <ul>
                    <li><a href="https://www.facebook.com/roozbeh.mahmoodzadeh" target=”_blank”><i
                                class="ti-facebook"></i>facebook</a></li>
                    <li><a href="https://twitter.com/roozbehrm" target=”_blank”><i class="ti-twitter"></i>twitter</a>
                    </li>
                    <li><a href="https://www.instagram.com/roozbehrm/" target=”_blank”><i
                                class="ti-instagram"></i>instagram</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->

<!-- Start About Area -->
<section class="about-area section-gap">
    <div class="container">
        <div class="row align-items-center justify-content-start">
            <div class="col-lg-5 about-left">
                <img class="img-fluid" src="{% static 'img/about-img.jpg' %}" alt="nikkon D300 camera">
            </div>
            <div class="offset-lg-1 col-lg-5 col-md-12 about-right">
                <div class="section-title text-left">
                    <h2><span>About</span> ProShoot</h2><br>
                </div>
                <div class="mb-35 wow fadeIn" data-wow-duration=".8s" data-wow-delay=".3s">
                    <p>
                        Best and latest photographing techs at Proshoot photography
                    </p>
                    <p>
                        At Proshoot Photography we offer a range of services such as wedding photography, industrial
                        photography, and
                        fashion photography. we also have a blog and provide our services at a good price.
                    </p>
                </div>
                <a href="{% url 'main:about' %}" class="primary-btn" data-text="Read More">
                    <span>R</span>
                    <span>e</span>
                    <span>a</span>
                    <span>d</span>
                    <span></span>
                    <span>M</span>
                    <span>o</span>
                    <span>r</span>
                    <span>e</span>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- End About Area -->

<!-- Start Service Area -->
<section class="service-area section-gap-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title text-center">
                    <h3>Our Services</h3>
                    <h2><span>What ProShoot Offers</span></h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-service wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.0s">
                    <div class="d-flex align-items-center mb-3">
                        <i class="flaticon-shirt"></i>
                        <h4 class="ml-3">Fashion Photography</h4>
                    </div>
                    <p>Best and latest photographing techs at Proshoot photography</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-service wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
                    <div class="d-flex align-items-center mb-3">
                        <i class="flaticon-water"></i>
                        <h4 class="ml-3">Nature Photgraphy</h4>
                    </div>
                    <p>Best and latest photographing techs at Proshoot photography</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-service wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">
                    <div class="d-flex align-items-center mb-3">
                        <i class="flaticon-content"></i>
                        <h4 class="ml-3">Event Coverage</h4>
                    </div>
                    <p>Best and latest photographing techs at Proshoot photography</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-service wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">
                    <div class="d-flex align-items-center mb-3">
                        <i class="flaticon-art"></i>
                        <h4 class="ml-3">Property Tours</h4>
                    </div>
                    <p>Best and latest photographing techs at Proshoot photography</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-service wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">
                    <div class="d-flex align-items-center mb-3">
                        <i class="flaticon-button"></i>
                        <h4 class="ml-3">Multimedia Services</h4>
                    </div>
                    <p>Best and latest photographing techs at Proshoot photography</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-service wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">
                    <div class="d-flex align-items-center mb-3">
                        <i class="flaticon-ring"></i>
                        <h4 class="ml-3">Wedding Photography</h4>
                    </div>
                    <p>Best and latest photographing techs at Proshoot photography</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Service Area -->

<!-- Start Work Area Area -->
<section class="work-area section-gap-top" id="work">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title text-center">
                    <h3>Our Portfolio</h3>
                    <h2><span>Check</span> Our Work</h2>
                </div>
            </div>

            <div class="col-lg-12 d-none">
                <div class="filters">
                    <ul>
                        <li class="active" data-filter=".all"></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="filters-content">
            <div class="row grid">
                <div class="col-lg-4 col-md-6 grid-sizer"></div>

                <div class="col-lg-8 col-md-12 grid-item all wow fadeIn" data-wow-duration="2s" data-wow-delay="0s">
                    <div class="single-work">
                        <div class="relative">
                            <div class="thumb">
                                <img class="image img-fluid" src="{% static 'img/work/w1.jpg' %}"
                                    alt="grey wolf under snow">
                            </div>
                            <div class="middle">
                                <h4>2D Vinyl Design</h4>
                                <div class="cat">Client Project</div>
                            </div>
                            <a class="overlay" href="#"></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 grid-item col-md-6 all wow fadeIn" data-wow-duration="2s" data-wow-delay="0.4s">
                    <div class="single-work">
                        <div class="relative">
                            <div class="thumb">
                                <img class="image img-fluid" src="{% static 'img/work/w2.jpg' %}"
                                    alt="biking in the snow on the mountain">
                            </div>
                            <div class="middle">
                                <h4>2D Vinyl Design</h4>
                                <div class="cat">Client Project</div>
                            </div>
                            <a class="overlay" href="#"></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 grid-item col-md-6 all wow fadeIn" data-wow-duration="2s" data-wow-delay="0.4s">
                    <div class="single-work">
                        <div class="relative">
                            <div class="thumb">
                                <img class="image img-fluid" src="{% static 'img/work/w3.jpg' %}"
                                    alt="boats on the sea">
                            </div>
                            <div class="middle">
                                <h4>2D Vinyl Design</h4>
                                <div class="cat">Client Project</div>
                            </div>
                            <a class="overlay" href="#"></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-8 grid-item col-md-12 all wow fadeIn" data-wow-duration="2s" data-wow-delay="0.4s">
                    <div class="single-work">
                        <div class="relative">
                            <div class="thumb">
                                <img class="image img-fluid" src="{% static 'img/work/w4.jpg' %}"
                                    alt="a fashion man with sunglasess">
                            </div>
                            <div class="middle">
                                <h4>2D Vinyl Design</h4>
                                <div class="cat">Client Project</div>
                            </div>
                            <a class="overlay" href="#"></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 text-center grid-item col-md-12 all creative wow fadeIn" data-wow-duration="2s">
                    <a href="{% url 'main:projects' %}" class="primary-btn" data-text="View More">
                        <span>V</span>
                        <span>i</span>
                        <span>e</span>
                        <span>w</span>
                        <span> </span>
                        <span>M</span>
                        <span>o</span>
                        <span>r</span>
                        <span>e</span>
                    </a>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- End Work Area Area -->

<!-- Start Pricing Area -->
<section class="pricing-area section-gap-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title text-center">
                    <h3>Pricing Plan</h3>
                    <h2><span>Choose</span> Your Package</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="pricing_item">
                    <h3 class="p_title">Wedding</h3>
                    <p class="p_criteria">Attend only first day</p>
                    <h3 class="p_price">$46.00</h3>
                    <div class="p_list">
                        <ul>
                            <li><span class="ti-check"></span> Unlimited Entrance</li>
                            <li><span class="ti-check"></span> Unlimited Entrance</li>
                            <li><span class="ti-check"></span> Unlimited Entrance</li>
                            <li><span class="ti-close cross"></span> Unlimited Entrance</li>
                            <li><span class="ti-close cross"></span> Unlimited Entrance</li>
                        </ul>
                        <a class="primary-btn mt-4" href="#" data-text="Book Now">
                            <span>B</span>
                            <span>o</span>
                            <span>o</span>
                            <span>k</span>
                            <span> </span>
                            <span>N</span>
                            <span>o</span>
                            <span>w</span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="pricing_item">
                    <h3 class="p_title">Studio</h3>
                    <p class="p_criteria">Attend only first day</p>
                    <h3 class="p_price">$76.00</h3>
                    <div class="p_list">
                        <ul>
                            <li><span class="ti-check"></span> Unlimited Entrance</li>
                            <li><span class="ti-check"></span> Unlimited Entrance</li>
                            <li><span class="ti-check"></span> Unlimited Entrance</li>
                            <li><span class="ti-close cross"></span> Unlimited Entrance</li>
                            <li><span class="ti-close cross"></span> Unlimited Entrance</li>
                        </ul>
                        <a class="primary-btn mt-4" href="#" data-text="Book Now">
                            <span>B</span>
                            <span>o</span>
                            <span>o</span>
                            <span>k</span>
                            <span> </span>
                            <span>N</span>
                            <span>o</span>
                            <span>w</span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="pricing_item">
                    <h3 class="p_title">Fashion</h3>
                    <p class="p_criteria">Attend only first day</p>
                    <h4 class="p_price">$96.00</h4>
                    <div class="p_list">
                        <ul>
                            <li><span class="ti-check"></span> Unlimited Entrance</li>
                            <li><span class="ti-check"></span> Unlimited Entrance</li>
                            <li><span class="ti-check"></span> Unlimited Entrance</li>
                            <li><span class="ti-close cross"></span> Unlimited Entrance</li>
                            <li><span class="ti-close cross"></span> Unlimited Entrance</li>
                        </ul>
                        <a class="primary-btn mt-4" href="#" data-text="Book Now">
                            <span>B</span>
                            <span>o</span>
                            <span>o</span>
                            <span>k</span>
                            <span> </span>
                            <span>N</span>
                            <span>o</span>
                            <span>w</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Pricing Area -->

<!-- Start Blog Area -->
{% if request.user.is_authenticated %}
    {% latest_posts loggedin=True %}
{% else %}
    {% latest_posts %}
{% endif %}
<!-- End Blog Area -->

{% endblock %}